body {
    font-family: Arial, Helvetica, sans-serif;
}

.con {
    background: linear-gradient(white, #c4ade6);
}
.left-col {
    background-image: url('../images/left-side.jpg');
    background-size: cover;
    background-position: center;
}

.dropdown-icon {
    cursor: pointer;
}

.list {
    border-radius: 22px;
    background-color: #f3f7fa4a;
    cursor: pointer;
}

.ano-list{
    background-color: #f3f7fa4a;
    cursor: pointer;
}

.header-list{
    background-color: #eaf6ff63;
}

.li-group{
    border:1px solid  #eaf6ff63;
}

.list:hover, .ano-list:hover {
    background-color: #daecfc75;
}

.ano-list.active{
    background-color:#6869698e;
}

.searchBar {
    width: 35%;
}

.book,.book-btn{
    transform: translateY(-40px);
}

.book-info{
    width: 32%;
    height: 330px;
    background-color: snow;
}

.book > img{
     height:250px;
}
.detail{
    height: 210px;
}

.cat .editCat{
    display: none;
}

.editBtn{
    display: none;
}

.cat.edit .editBtn, .cat.edit .editCat{
    display: inline;
}

.cat.edit .button{
    display: none;
}

.cat.edit .notEditCat{
    display: none;
}

table{
    border-collapse: separate;
}
th{
    color:#fff;
    background: #121212;
}

td{
    padding:5px;
    background-color:snow;
    border-top: 1px solid #fff;
}
.cart{
     font-size: 25px;
}
.shopping-cart{
    animation: cart 0.7s 0.3s;
}

.cart-count{
     animation: count 0.7s 0.3s;
}

@keyframes cart {
     50%{
      font-size: 35px;
      color:#008c52;
    }
    100%{
      font-size: 25px;
      color:black;
    }
}

@keyframes count {
     50%{
         color:snow;
        background:#008c52;
        padding:3px;
    }
    100%{
      color:black;
    }
}

@media (max-width : 1000px) {
    .searchBar {
        width: 92%;
    }
}
